<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<!---------- HEAD SECTION ---------->
<head>
    <!-- META -->
    <meta charset="UTF-8">
    <!-- STYLES -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/popup_dialog.css}">
    <!-- METRO4 CSS -->
    <link type="text/css" th:rel="stylesheet" th:href="@{/css/metro4/metro-4.4.3.css}">

    <link type="image/png" rel="icon" th:href="@{/favicon.png}">
    <!-- TITLE -->
    <title>Kategoria</title>
</head>
<!---------- HEAD SECTION ---------->
<body th:with="del=${#request.getParameter('delete')}" class="bg-light">
    <div>
        <h3 th:if="${del}" class="popup-header bg-red">Usuń kategorię</h3>
        <h3 th:unless="${del}" class="popup-header bg-cobalt">Zapisz kategorię</h3>

        <form method="post" th:action="@{/category}" th:object="${category}">
            <div class="form-group">
                <label>Nazwa:</label>
                <input th:field="*{categoryName}" type="text" data-prepend="<span class='mif-tag'></span>" data-role="input"
                       placeholder="podaj nazwę" th:disabled="${del}">
                <input th:field="*{categoryId}" type="hidden">
                <small th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}" class="fg-red">Błąd!</small>
            </div>
            <div class="form-group">
                <label>Ikona:</label>
                <select id="cat-ico" th:field="*{categoryIcon}" data-role="select" th:disabled="${del}">
                    <option th:each="i : ${icons}" th:value="${i}" th:text="${i}"
                            th:attr="data-template=${'<span class=&quot;icon mif-' + i +  '&quot;></span> $1'}"></option>
                </select>
                <small th:if="${#fields.hasErrors('categoryIcon')}" th:errors="*{categoryIcon}" class="fg-red">Błąd!</small>
            </div>
            <div class="form-group">
                <label>Kolor:</label>
                <select th:field="*{categoryAccent}" data-role="select" th:disabled="${del}">
                    <option th:each="c : ${colors}" th:value="${c.getKey()}" th:text="${c.getValue()}"
                            th:class="${c.getKey() != null ? 'fg-' + c.getKey() : ''}">
                    </option>
                </select>
                <small th:if="${#fields.hasErrors('categoryAccent')}" th:errors="*{categoryAccent}" class="fg-red">Błąd!</small>
            </div>
            <div class="form-group">
                <button th:if="${del != null && del}" type="submit" class="button alert" name="delete">
                    <span class='mif-bin'></span>
                    <span>Usuń</span>
                </button>
                <button th:unless="${del}" type="submit" class="button primary">
                    <span class='mif-floppy-disk'></span>
                    <span>Zapisz</span>
                </button>
                <a class="button">Wyjście</a>
            </div>
        </form>
    </div>

    <!-- METRO4 -->
    <script th:src="@{/js/metro4/metro-4.4.3.js}"></script>

</body>
</html>