<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" th:rel="stylesheet" th:href="@{/css/mbox.css}">
    <!-- METRO4 CSS -->
    <link type="text/css" th:rel="stylesheet" th:href="@{/css/metro4/metro-4.4.3.css}">
    <title>Odmowa dostępu</title>
</head>
<body class="bg-darkRed fg-white mb-body">
    <h1 class="mb-h1">Odmowa dostępu</h1>
    <p class="mb-p">Wykonanie tej akcji wymaga dodatkowych uprawnień.</p>
    <span class="mb-span mif-security"></span>
</body>
</html>