<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" th:rel="stylesheet" th:href="@{/css/mbox.css}">
    <!-- METRO4 CSS -->
    <link type="text/css" th:rel="stylesheet" th:href="@{/css/metro4/metro-4.4.3.css}">
    <title>Błędne zapytanie</title>
</head>
<body class="bg-mauve fg-white mb-body">
<h1 class="mb-h1">Złe zapytane</h1>
<p class="mb-p">Serwer nie może wykonać akcji.</p>
<span class="mb-span mif-compass2"></span>
</body>
</html>