<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/toolbar.css}">

    <link type="image/png" rel="icon" th:href="@{/favicon.png}">
    <title>Pagination</title>
</head>
<body>
<div th:fragment="pagination(pages_link , pages_max)" id="pagination" class="mt-3">
    <button id="pg-fst" class="button outline mif-first"></button>
    <button id="pg-prv" class="button outline mif-previous"></button>
    <button id="pg-nxt" class="button outline mif-next"></button>
    <button id="pg-lst" class="button outline mif-last"></button>
</div>
</body>
</html>