:root {
    --accent-color: #2d65bf;
    --accent-h-color: #4475C2;
    --accent-f-color: #FFFFFF;
    --panel-color: #FFFFFF;
    --panel-f-color: #000000;
}

body , html {
    margin: 0;
    padding: 0;
}

* { box-sizing: border-box; }

body {
    color: black;
    background: #EEE;
    font: 14px/1.4 sans-serif;
}

#wrapper {
    height: 100vh;
}

#toolbar {
    top: 0;
    left: 0;
    height: 45px;
    position: fixed;
    width: 100%;
    flex-direction: row;

    color: var(--accent-f-color);
    background: var(--accent-color);
}

.tb-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.tb-button {
    background: transparent;
    color: var(--accent-f-color);
    border: 0;
    cursor: pointer;
}

.tb-button:hover {
    background: var(--accent-color);
}

.tbc-left , .tbc-middle , .tbc-right {
    display: flex;
}

.tbc-middle {
    width: 40%;
}

.tb-form {

}

.tb-form > input {
    border: none;
    border-radius: 5px;
}

.tbf-search {
    margin: 5px 0;
    width: 100%;
}

#content {
    margin-top: 50px;
    display: flex;
    height: 100%;
}

#sidebar {
    width: 220px;

    color: var(--panel-f-color);
    background: var(--panel-color);
}

#page {
    flex: 1;
}

.content-element {
    display: flex;
    flex-direction: column;
}

.s-nav {
    height: 100%;
}

.s-nav > li {
    padding: 5px 5px;
    line-height: 32px;
}

.s-nav > li > a {
    display: block;
    padding-left: 5px;
    text-decoration: none;
}

.s-nav > li > a > span {
    font-size: 32px;
}

.material-icons-sharp {
    vertical-align: middle;
}

.ce-container {
    display: flex;
    margin: 15px auto;
    height: 100%;
    width: 95%;
    max-width: 1100px;
    border-radius: 15px;
    color: var(--panel-f-color);
    background: var(--panel-color);
}