:root {
    --theme-clr-primary: #2d65bf;
    --theme-clr-primary-fg: #fff;
    --theme-clr-secondary: #4475C2;
    --theme-clr-hover: #5d8bd5;
    --theme-clr-secondary-fg: #fff;
    --theme-clr-background: #dcdcdc;
    --theme-clr-sidebar: #e6e6e6;
    --theme-clr-sidebar-br: #c0c0c0;
    --theme-clr-text: #000;
    --theme-clr-toolbar-sh: #8e8e8e;
    --theme-clr-accent-text: #17389c;
    --theme-clr-panel: #f2f2f2;
    --theme-clr-border: #a3a3a3;

    --tb-height: 45px;
    --sb-width: 200px;
    --sb-width-sm: 40px;
    --sb-height-item: 38px;
}

* { box-sizing: border-box; }

body , html {
    margin: 0;
    padding: 0;
}

/* WORKAROUND */
.textarea, textarea {
    height: auto !important;
}

body {
    color: var(--theme-clr-text);
    background: var(--theme-clr-background) !important;
    font: 14px/1.4 sans-serif;
}

#wrapper {
    display: flex;
    height: 100vh;
    padding-top: calc(var(--tb-height));
}

#page {
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.c-panel {
    background: var(--theme-clr-panel);
    border: 1px solid var(--theme-clr-border);
    padding:10px;
    margin-bottom: 15px
}

#pagination-container {
    padding: 15px 0 0 0;
}