
#sidebar {
    width: var(--sb-width);
    flex-direction: column;
    padding: 0 15px;
    overflow: hidden;
    background: var(--theme-clr-sidebar);
    border-right: 1px solid var(--theme-clr-sidebar-br);
}

.s-nav {
}

.s-nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.s-nav > ul > li {
    padding-bottom: 5px;
}

.s-nav > ul > li > a {
    display: block;
    padding-left: 5px;
    height: var(--sb-height-item);
    line-height: var(--sb-height-item);
    text-decoration: none;
    color: var(--theme-clr-accent-text);
}

.s-nav > ul > li > a:hover {
    text-decoration: none;
    color: var(--theme-clr-secondary);
}

.s-item-active {
    background: var(--theme-clr-secondary);
    color: var(--theme-clr-secondary-fg) !important;
    border-radius: 5px;
}

.s-item-text {
    padding-left: 5px;
}

@media screen and (max-width: 900px) {
    .s-nav {
        width: var(--sb-width-sm);
        padding: 0;
    }
    .s-nav > ul > li > a {
        padding: 0;
    }
    .s-nav > ul > li > a > span {
        height: 100%;
        width: 100%;
        text-align: center;
    }
    .s-item-text {
        display: none !important;
    }
    .s-item-active {
        border-radius: 0 5px 5px 0;
    }
}