<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/toolbar.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/messages.css}">

    <link type="image/png" rel="icon" th:href="@{/favicon.png}">

    <!-- METRO4 -->
    <link th:href="@{/css/metro4/metro-4.4.3.css}" th:rel="stylesheet">

    <title>Zapisane posty</title>
</head>
<body>
<header th:replace="fragments/f_toolbar :: toolbar"></header>

<!-- PAGE WRAPPER -->
<div id="wrapper">
    <!-- SIDEBAR -->
    <div th:replace="fragments/f_sidebar :: sidebar(active_item='saved')"></div>

    <!-- CONTENT OF CURRENT VIEW -->
    <div id="page" class="content-element">

        <div class="ce-container">
            <div class="c-panel">
                <div id="data-view-container"></div>
                <div id="pagination-container"></div>
            </div>
        </div>
    </div>
</div>

<!-- METRO4 -->
<script th:src="@{/js/metro4/metro-4.4.3.js}"></script>
<!-- My scripts -->
<script th:src="@{/js/ui_utils.js}"></script>
<script th:src="@{/js/filter.js}"></script>
<script th:src="@{/js/sidebar.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    let userId = /*[[${uid}]]*/ -1;
    /*]]>*/
    let postsData = null;
    let currentPage = 0;
    let totalPages = -1;
    let categorySelected = -1;
    let unshowSolved = false;

    $("#categories-list").change((e) => {
        categorySelected = parseInt(e.target.value);
        getContent();
    });

    $("#unsolved_check").change((e) => {
        unshowSolved = e.target.checked;
        getContent();
    });

    $(document).ready(() => {
        getContent();

        unshowSolved = $("#unsolved_check").is(":checked");
        categorySelected = parseInt($("#categories-list").val());

    });

    var getContent = () => {
        $.ajax({
            type: "GET" ,
            async: true ,
            url: `/api/post/saved/${userId}` ,
            timeout: 1000 ,
            contentType: 'application/json; charset=utf-8'
        }).then(function (result) {

            if (typeof result === "string") {
                let objects = JSON.parse(result);
                let content = objects.content;


                // Maks stron przy podanym ustawieniu
                let total = objects.totalPages;

                if (content === undefined) {
                    notifyError("Błąd przetwarzania obiektu.");
                } else {
                    if (currentPage >= total) {
                        currentPage = total - 1;
                    }

                    postsData = content;
                    showData();
                    createPagination(total);
                }
            } else {
                notifyError("Serwer zwrócił dane, które nie mogą zostać przetworzone.");
            }
        } , function (xhr) {
            notifyError("Błąd żądania!");
        });
    }

    function showData() {
        let container = $("#data-view-container").clear();
        let postList = $("<ul>" , { class: "items-list" });

        if (postsData.length === 0) {
            modalInfo("Nie zapisano żadnych postów.");
        } else {
            postsData.forEach((p) => {
                let postContainer = $("<li>");
                $("<span>" , {
                    style: "text-align:center; border-radius: 0;" ,
                    class: `avatar fg-white mif-${p.postCategory.categoryIcon} bg-${p.postCategory.categoryAccent}`
                }).appendTo(postContainer);
                $("<a>" , {
                    style: "text-align:left !important;" ,
                    class: "label button link" ,
                    href: `/thread?id=${p.postId}`
                }).text(p.postTitle).appendTo(postContainer);
                $("<span>" , {class: "second-label"}).text(p.postContent).appendTo(postContainer);

                $("<span>" , {class: "second-action mif-bookmark"}).appendTo(postContainer);

                $(postContainer).appendTo(postList);
            });

            $(postList).appendTo(container);
        }
    }

    function createPagination(max) {
        if (totalPages !== max) {
            const paginationContainer = $("#pagination-container").html("");

            if (max !== 1) {
                const paginationElement = $("<ul>" , { class: "pagination flex-justify-center" }).appendTo(paginationContainer);

                for (let i = 0 ; i < max ; i++) {
                    let contentLi = $("<li>" , { class: "page-item" });
                    let contentA = $("<a>" , { class: "page-link"}).text(`${i + 1}`);

                    if (i === currentPage) {
                        contentLi.addClass("active");
                    }

                    $(contentLi).append(contentA);
                    $(paginationElement).append(contentLi);
                }

                totalPages = max;

                $(document).on('click','.page-link' , function() {
                    currentPage = parseInt($(this).text()) - 1;

                    $(".page-item, .active").removeClass("active");
                    $(this).parent().addClass("active");

                    getContent();
                });
            }
        }
    }

</script>
</body>
</html>