<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/toolbar.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/tableview.css}">

    <!-- METRO4 -->
    <link th:href="@{/css/metro4/metro-4.4.3.css}" th:rel="stylesheet">

    <title>Lista kategorii</title>
</head>
<body>
    <header th:replace="fragments/f_toolbar :: toolbar"></header>

    <!-- PAGE WRAPPER -->
    <div id="wrapper">
        <!-- SIDEBAR -->
        <div th:replace="fragments/f_sidebar :: sidebar(active_item='categories')"></div>

        <!-- CONTENT OF CURRENT VIEW -->
        <div id="page" class="content-element">

            <div class="ce-container">
                <div class="c-panel">
                    <div class="mb-4">
                        <button id="action_button_add" class="button primary border-radius-4"><span class="mif-add"></span><span>Nowa</span></button>
                        <button id="btn-filter" class="float-right button border-radius-4"><span class="mif-filter"></span></button>
                        <input id="non_empty_check" class="float-right" type="checkbox" data-role="switch" data-caption="Pokaż puste" data-caption-position="left" checked>
                        <input th:if="${admin}" id="grid_view_check" class="float-right" type="checkbox" data-role="switch" data-caption="Zarządzaj" data-caption-position="left">
                    </div>
                    <div id="data-view-container"> </div>

                    <div id="pagination-container"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- METRO4 -->
    <script th:src="@{/js/metro4/metro-4.4.3.js}"></script>
    <!-- My scripts -->
    <script th:src="@{/js/ui_utils.js}"></script>
    <script th:src="@{/js/filter.js}"></script>
    <script th:src="@{/js/sidebar.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let isAdmin = /*[[${admin}]]*/ false;
        /*]]>*/

        let categoryData = null;
        let currentPage = 0;
        let totalPages = -1;

        function notifyError(text) {
            let notify = Metro.notify;
            console.error(text);

            if (notify !== undefined) {
                notify.create(text , "Błąd" , { cls: "alert" });
            }
        }

        $(document).ready(() => { getContent() });
        $("#cat-load").click(() => getContent());
        let nonEmptyCheck = $("#non_empty_check");
        $(nonEmptyCheck).on("click" , () => {
            getContent();
        });

        let gridViewCheck = $("#grid_view_check");
        $(gridViewCheck).on("click" , () => {
            showData()
        } );

        let selectedCategory = -1;

        $("#action_button_add").click(() => categoryPopup(selectedCategory));

        var getContent = (forceRecreate) => {
            let ignore_empty = $(nonEmptyCheck).is(":checked");

            $.ajax({
                type: "GET" ,
                async: true ,
                url: `/api/category/${ignore_empty ? "all" : "nonempty"}?page=${currentPage}&size=${filterPageSize}` ,
                timeout: 1000 ,
                contentType: 'application/json; charset=utf-8'
            }).then(function (result) {

                if (typeof result === "string") {
                    let objects = JSON.parse(result);
                    let content = objects.content;

                    // Maks stron przy podanym ustawieniu
                    let total = objects.totalPages;

                    if (content === undefined) {
                        notifyError("Nie znaleziono żadnych danych.");
                    } else {
                        if (currentPage >= total) {
                            currentPage = total - 1;
                        }

                        categoryData = content;
                        showData();
                        createPagination(total);
                    }
                } else {
                    notifyError("Serwer zwrócił dane, które nie mogą zostać przetworzone.");
                }
            } , function (xhr) {
                notifyError("Błąd przetwarzan9ia żądania.");
            });
        }

        function showData() {
            let container = $("#data-view-container").clear();
            let isList = $(gridViewCheck).is(":checked");


            if (!isList) { /* Grid view */
                let categories = $("<div>" , { id: "categories" , class: "tiles-grid" });
                $(categories).appendTo(container);

                categoryData.forEach((d) => {
                    let tile = $("<a>" , { href: `/category?id=${d.categoryId}` , class: `bg-${d.categoryAccent}` })
                        .attr("data-role" , "tile")
                        .attr("data-id" , `${d.categoryId}`)
                        .on("contextmenu" , () => {

                        });
                    let tileIcon = $("<span>" , { class: `mif-${d.categoryIcon} icon` });
                    let tileCaption = $("<span>" , { class: "branding-bar" }).text(d.categoryName);

                    $(tile).append(tileIcon);
                    $(tile).append(tileCaption);
                    $(categories).append(tile);
                });
            } else { /* Table view */
                let categories = $("<table>" , { id: "categories" , class:"table stripped row-hover" });
                $(categories).html("<thead><th style='width:100px'> </th> <th style='width:50px'> </th> <th>Nazwa</th> <th>Twórca</th> <th style='width:250px'>Data utworzenia</th></thead>");
                $(categories).appendTo(container);
                let tableBody = $("<tbody>").appendTo(categories);

                categoryData.forEach((d) => {
                    let row = $("<tr>" , {id: "cat" + d.categoryId});
                    let buttons = $("<td>");

                    if (isAdmin) {
                        $(buttons).append(
                            ($("<button>" , { class: "button outline secondary small" , style: "margin-right: 3px" })
                                .click(() => categoryPopup(d.categoryId , false)))
                                .append($("<span>" , { class: "mif-pencil" })));
                        $(buttons).append(
                            ($("<button>" , { class: "button outline alert small" , style: "margin-right: 3px" })
                                .click(() => categoryPopup(d.categoryId , true)))
                                .append($("<span>" , { class: "mif-bin" })));
                    }

                    $(row).append(buttons);
                    $(row).append($("<td>").append($("<span>" , {class: "mif-" + d.categoryIcon})));
                    $(row).append($("<td>").html(d.categoryName));
                    $(row).append($("<td>").html(d.categoryCreator.userName));
                    $(row).append($("<td>").html(d.categoryCreationTime));
                    $(tableBody).append(row);
                });
            }
        }

        function categoryPopup(id , del) {
            let url = typeof id == "number" && id >= 0 ? `/category?id=${id}` : "/category";

            if (del != null && del) {
                url += "&delete=true";
            }

            window.open(url , "Kategoria" , "width=500, height=600")
        }

        function createPagination(max) {
            if (totalPages !== max) {
                const paginationContainer = $("#pagination-container").html("");

                if (max !== 1) {
                    const paginationElement = $("<ul>" , { class: "pagination flex-justify-center" }).appendTo(paginationContainer);

                    for (let i = 0 ; i < max ; i++) {
                        let contentLi = $("<li>" , { class: "page-item" });
                        let contentA = $("<a>" , { class: "page-link"}).text(`${i + 1}`);

                        if (i === currentPage) {
                            contentLi.addClass("active");
                        }

                        $(contentLi).append(contentA);
                        $(paginationElement).append(contentLi);
                    }

                    totalPages = max;

                    $(document).on('click','.page-link' , function() {
                        currentPage = parseInt($(this).text()) - 1;

                        $(".page-item, .active").removeClass("active");
                        $(this).parent().addClass("active");

                        getContent();
                    });
                }
            }
        }
    </script>

</body>
</html>