<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <title>Lista kategorii</title>
</head>
<body>
<div id="wrapper">
    <!-- TOOLBAR -->
    <div th:insert="fragments/f_toolbar :: toolbar" id="toolbar"></div>

    <!-- PAGE CONTENT -->
    <div id="content">

        <!-- SIDEBAR -->
        <div th:replace="fragments/f_sidebar :: sidebar"></div>

        <!-- CONTENT OF CURRENT VIEW -->
        <div id="page" class="content-element">
            <div>
                <ul >
                    <li th:each="c : ${catList}" th:text="${c.getCategoryName()}"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>