<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/toolbar.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/messages.css}">

    <!-- METRO4 -->
    <link th:href="@{/css/metro4/metro-4.4.3.css}" th:rel="stylesheet">

    <title>Lista kategorii</title>
</head>
<body>
<header th:replace="fragments/f_toolbar :: toolbar"></header>

<!-- PAGE WRAPPER -->
<div id="wrapper">
    <!-- SIDEBAR -->
    <div th:replace="fragments/f_sidebar :: sidebar(active_item='categories')"></div>

    <!-- CONTENT OF CURRENT VIEW -->
    <div id="page" class="content-element">

        <div class="ce-container">
            <div class="c-panel">
                <div class="mb-4">
                </div>
                <div id="data-view-container"> </div>
            </div>
        </div>
    </div>
</div>

<!-- METRO4 -->
<script th:src="@{/js/metro4/metro-4.4.3.js}"></script>
<!-- My scripts -->
<script th:src="@{/js/ui_utils.js}"></script>

<script>
    let postsData = null;

    function notifyError(text) {
        let notify = Metro.notify;
        console.error(text);

        if (notify !== undefined) {
            notify.create(text , "Błąd" , { cls: "alert" });
        }
    }

    $(document).ready(() => { getPostsPreview() });

    function getPostsPreview() {
        $.ajax({
            type: "GET" ,
            async: true ,
            url: "/api/post/preview" ,
            timeout: 1000 ,
            //url: "/api/category?page=${pageNumber}&size=${pageSize}&order=${pageOrder === "desc" ? "desc" : "asc"}&sort=${pageSort}` ,
            contentType: 'application/json; charset=utf-8'
        }).then(function (result) {

            if (typeof result === "string") {
                let objects = JSON.parse(result).content;
                console.log(objects);
                if (objects === undefined) {
                    notifyError("Błąd przetwarzania obiektu.");
                } else {
                    postsData = objects;
                    showData();
                }
            } else {
                notifyError("Serwer zwrócił dane, które nie mogą zostać przetworzone.");
            }
        } , function (xhr) {
            notifyError("Błąd żądania!");
        });
    }

    function showData() {
        let container = $("#data-view-container").clear();

        postsData.forEach((d) => {
            let postContainer = $("<div>");
            let titleWrap = $("<span>" , { class: "pp-title" });
            let title = $("<a>" , { href: `/thread?id=${d.postId}` , class: `button link` }).text(d.postTitle);
            let content = $("<span>" , { class: "pp-content" }).text(`${d.postContent}...`);

            $(titleWrap).append(title)
            $(postContainer).append(titleWrap);
            $(postContainer).append(content);
            $(container).append(postContainer);
        });
    }

</script>
</body>
</html>