<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/toolbar.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/sidebar.css}">

    <!-- METRO4 -->
    <link th:href="@{/css/metro4/metro-4.4.3.css}" th:rel="stylesheet">

    <title>Strona główna</title>
</head>
<body>
    <header th:replace="fragments/f_toolbar :: toolbar"></header>

    <!-- PAGE WRAPPER -->
    <div id="wrapper">
        <!-- SIDEBAR -->
        <div th:replace="fragments/f_sidebar :: sidebar(active_item='index')"></div>

        <!-- CONTENT OF CURRENT VIEW -->
        <div id="page" class="content-element">

            <div class="ce-container">
            </div>

        </div>
    </div>

    <!-- METRO4 -->
    <script th:src="@{/js/metro4/metro-4.4.3.js}"></script>

    <script th:src="@{/js/sidebar.js}"></script>

</body>
</html>