<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/toolbar.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/tableview.css}">

    <!-- METRO4 -->
    <link th:href="@{/css/metro4/metro-4.4.3.css}" th:rel="stylesheet">

    <title>Wyszukiwarka pytań</title>
</head>
<body>
<header th:replace="fragments/f_toolbar :: toolbar"></header>

<!-- PAGE WRAPPER -->
<div id="wrapper">
    <!-- SIDEBAR -->
    <div th:replace="fragments/f_sidebar :: sidebar(active_item='search')"></div>

    <!-- CONTENT OF CURRENT VIEW -->
    <div id="page" class="content-element">
        <div id="searchContainer" class="cf sb">
            <div class="right magnifier"></div>
            <input class="right" type="text" id="search-box" placeholder="Wpisz frazę"/>
            <input type="submit" class="input-search-button" value="Szukaj" id="search-button">
        </div>

        <div class="ce-container">
            <div class="c-panel">
                <table id="table" class="table stripped row-hover">
                    <thead>
                    <tr>
                        <th>Tytuł</th>
                        <th>Twórca</th>
                        <th>Data utworzenia</th>
                        <th>Kategoria</th>
                    </tr>
                    </thead>
                    <tbody id="trows"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- METRO4 -->
<script th:src="@{/js/metro4/metro-4.4.3.js}"></script>

<script>
    function notifyError(text) {
        let notify = Metro.notify;
        console.error(text);

        if (notify !== undefined) {
            notify.create(text , "Błąd" , { cls: "alert" });
        }
    }

    function getPosts() {
        $.ajax({
            type: "GET" ,
            async: true ,
            url: "/api/post/search/" ,
            data: {"postTitle": $('#search-box').val()},
            timeout: 1000 ,
            contentType: 'application/json; charset=utf-8',
        }).then(function (result) {
            $("#trows").clear();

            if (typeof result === "string") {
                if (result.length === 0) {
                    console.error("pusto")
                }
                console.log(result);
                let objects = JSON.parse(result).content;
                console.log(objects);
                if (objects === undefined) {
                    notifyError("Błąd przetwarzania obiektu.");
                } else {
                    objects.forEach((o) => {
                        let row = $("<tr>" , {id: "post" + o.postId});
                        let link = $("<a>" , {class: "button link" , href: `/thread?id=${o.postId}`}).html(o.postTitle);
                        $(row).append($("<td>").append(link));
                        $(row).append($("<td>").html(o.postAuthor.userName));
                        $(row).append($("<td>").html(o.postCreationTime));
                        $(row).append($("<td>").html(o.postCategory.categoryName));
                        $("#trows").append(row);
                    });
                }
            } else {
                notifyError("Serwer zwrócił dane, które nie mogą zostać przetworzone.");
            }
        } , function (xhr) {
            notifyError("Błąd żądania!");
        });
    }

    $("#search-button").on("click", function()
    {
        getPosts();
    });
</script>

</body>
</html>
