<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- METRO4 -->
    <link th:href="@{/css/metro4/metro-4.4.3.css}" th:rel="stylesheet">
    <title>Przywracanie konta</title>
</head>
<body class="bg-light"
      th:with="errored=${(param.error != null) && (param.error[0]) ? true : false}">

<div class="d-flex flex-align-center flex-justify-center w-25 bg-grayWhite border border-size-1 bd-darkGray pos-absolute pos-center">

    <!-- Reminder form -->
    <form method="post" th:action="@{/remind}" class="p-3 w-100" >

        <h2 class="h2">Przywracanie</h2>

        <!-- E-mail input area -->
        <div class="form-group">
            <label>Adres e-mail:</label>
            <input name="u_name" type="email" placeholder="user@example.com" data-role="input" >
            <small class="text-muted">Nazwą użytkownika (pełen adres e-mail) podany przy rejestracji. Na ten adres zostanie wysłana wiadomość.</small>
        </div>

        <!-- Buttons area -->
        <div class="form-group">
            <input type="submit" class="button primary" value="Odzyskaj" >
            <a th:href="@{/login}" class="button secondary outline">Logowanie</a>
        </div>
    </form>

</div>

<!-- Static scripts -->
<script>
</script>

<!-- METRO4 -->
<script th:src="@{/js/metro4/metro-4.4.3.js}"></script>
</body>
</html>