<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- METRO4 -->
    <link th:href="@{/css/metro4/metro-4.4.3.css}" th:rel="stylesheet">
    <title>Logowanie</title>
</head>
<body class="bg-light"
      th:with="errored=${(param.error != null) && (param.error[0]) ? true : false} ,
               newUser=${(param.registered!= null) && (param.registered[0]) ? true : false}">

    <div class="d-flex flex-align-center flex-justify-center w-25 bg-grayWhite border border-size-1 bd-darkGray pos-absolute pos-center">

        <!-- Login form -->
        <form method="post" th:action="@{/login/auth}" class="p-3 w-100" >
            <h2 class="h2">Logowanie</h2>

            <div class="form-group">
                <div th:if="${newUser}" class="remark success">Teraz możesz się zalogować.</div>
                <div th:if="${errored}" class="remark alert">Nieprawidłowy login i/lub hasło.</div>
            </div>

            <!-- E-mail input area -->
            <div class="form-group">
                <label>Nazwa użytkownika:</label>
                <input name="user_mail" type="email" class="w-100" data-role="input" placeholder="user@example.com">
                <small class="text-muted">Nazwa użytkownika to Twój adres e-mail.</small>
            </div>

            <!-- Password input area -->
            <div class="form-group">
                <label>Hasło:</label>
                <input name="user_password" type="password" class="w-100" data-role="input">
            </div>

            <!-- Buttons area -->
            <div class="form-group">
                <button class="button primary">Zaloguj</button>
                <a th:href="@{/register}" class="button secondary">Rejestracja</a>
                <a th:href="@{/remind}" class="button secondary outline">Odzyskiwanie</a>
            </div>
        </form>
    </div>

    <!-- METRO4 -->
    <script th:src="@{/js/metro4/metro-4.4.3.js}"></script>
</body>
</html>