<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- BOOTSTRAP -->
        <link th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.css}" th:rel="stylesheet">
        <title>Logowanie</title>
    </head>
    <body class="bg-light"
          th:with="errored=${(param.error != null) && (param.error[0]) ? true : false}">

        <div class="h-100 row align-items-center mx-auto w-25 bg-light shadow" style="margin-top: 50px; min-width: 250px;">
            <form method="post" th:action="@{/login/auth}" class="p-3" >
                <p class="fs-2">Logowanie</p>
                <div class="mb-3">
                    <label for="login_uname" class="form-label">Nazwa użytkownika:</label>
                    <input id="login_uname" name="u_name" type="email" placeholder="user@example.com"
                        th:class="${errored ? 'form-control is-invalid' : 'form-control'}" >
                    <div th:if="${errored}" class="form-text text-danger">Nieprawidłowe dane logowania.</div>
                </div>
                <div class="mb-3">
                    <label for="login_passwd" class="form-label">Hasło:</label>
                    <input id="login_passwd" name="u_passwd" type="password" class="form-control">
                </div>
                <button class="btn btn-primary">Zaloguj</button>
                <button class="btn btn-link">Reset hasła</button>
            </form>
        </div>

        <!-- BOOTSTRAP -->
        <script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.bundle.js}"></script>
    </body>
</html>