<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/toolbar.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/tableview.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/messages.css}">

    <!-- METRO4 -->
    <link th:href="@{/css/metro4/metro-4.4.3.css}" th:rel="stylesheet">

    <title>Lista kategorii</title>
</head>
<body>
<header th:replace="fragments/f_toolbar :: toolbar"></header>

<!-- PAGE WRAPPER -->
<div id="wrapper">
    <!-- SIDEBAR -->
    <div th:replace="fragments/f_sidebar :: sidebar(active_item='')"></div>

    <!-- CONTENT OF CURRENT VIEW -->
    <div id="page" class="content-element">
        <div class="ce-container">
            <div class="c-panel">
                <!-- POST QUOTE -->
                <div th:id="${'post' + post.getPostId()}" class="post-container">
                    <h2 class="post-title" th:text="${post.getPostTitle()}"></h2>
                    <small class="tally secondary" th:text="${post.getPostAuthor().getUserName()}"></small>
                    <small class="tally" th:text="${post.getPostCreationTime().toString()}"></small>
                    <p class="post-message" th:text="${post.getPostContent()}"></p>
                </div>

                <th:block th:if="${uid != null}">
                    <button th:if="${followStatus}" id="btn-follow" class="button success outline small border-radius-4">
                        <span class="mif-bookmark"></span>
                        <span>Usuń z zakładek</span>
                    </button>
                    <button th:unless="${followStatus}"  id="btn-follow"  class="button success small border-radius-4">
                        <span class="mif-bookmark"></span>
                        <span>Zapisz w zakładkach</span>
                    </button>
                </th:block>
                <button class="button alert small border-radius-4 float-right">
                    <span class="mif-bin"></span>
                    <span>Usuń</span>
                </button>
                <button th:unless="${post.getPostSolved()}" class="button secondary small border-radius-4 float-right">
                    <span class="mif-lock"></span>
                    <span>Zamknij</span>
                </button>
                <a id="btn-reply" class="button primary small border-radius-4 float-right" th:href="@{/reply(pid=${post.getPostId()})}">
                    <span class="mif-reply"></span>
                    <span>Odpowiedz</span>
                </a>

                <div th:if="${commentsNum > 0}" class="comments">
                    <div class="comment-row" th:each="c : ${comments}">
                        <div class="comment-author" th:text="${c.getCommentAuthor().getUserName()}"></div>
                        <div class="comment-time" th:text="${c.getCommentCreationTime()}">16 Jun 1:22 PM</div>
                        <div class="comment-content">
                            <img class="comment-avatar">
                            <div th:if="${c.getCommentAuthor().getUserId() == post.getPostAuthor().getUserId()}" class="comment-text author-reply" th:text="${c.getCommentContent()}"></div>
                            <div th:unless="${c.getCommentAuthor().getUserId() == post.getPostAuthor().getUserId()}" class="comment-text other-reply" th:text="${c.getCommentContent()}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- METRO4 -->
<script th:src="@{/js/metro4/metro-4.4.3.js}"></script>
<!-- FoPor -->
<script th:src="@{/js/ui_utils.js}"></script>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var postId = /*[[${post.getPostId}]]*/ -1;
    var userId = /*[[${uid}]]*/ -1;
    var followState = /*[[${followStatus}]]*/ false;
    /*]]>*/
</script>

<script>
    let replyBtn = $("#btn-reply");
    let followBtn = $("#btn-follow");
    let followBtnSpans = $("#btn-follow span");

    $(followBtn).click(() => {
        if (!followState) {
            $.ajax({
                method: "POST" ,
                async: true ,
                url: `/api/user/follow/${postId}` ,
                timeout: 10000 ,
                contentType: 'application/json; charset=utf-8'
            }).then(function (result) {
                notifySuccess("Dodano post do zakładek.");
                updateFollowStatus();
            } , function (xhr) {
                notifyError("Błąd żądania!");
            });
        } else {
            $.ajax({
                method: "POST" ,
                async: true ,
                url: `/api/user/unfollow/${postId}` ,
                timeout: 10000 ,
                contentType: 'application/json; charset=utf-8'
            }).then(function (result) {
                notifySuccess("Usunięto post do zakładek.");
                updateFollowStatus();
            } , function (xhr) {
                notifyError("Błąd żądania!");
            });
        }
    })

    function updateFollowStatus() {
        if (followState) {
            $(followBtn).removeClass("outline");
            $(followBtnSpans).last().text("Dodano zakłądkę");
        } else {
            $(followBtn).addClass("outline");
            $(followBtnSpans).last().text("Usunięto zakłądkęh");
        }

        // Update status
        followState = !followState;
    }

</script>

</body>
</html>