<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/toolbar.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/tableview.css}">

    <link type="image/png" rel="icon" th:href="@{/favicon.png}">

    <!-- METRO4 -->
    <link th:href="@{/css/metro4/metro-4.4.3.css}" th:rel="stylesheet">

    <title>Lista pytań nierozwiązanych</title>
</head>
<body>
<header th:replace="fragments/f_toolbar :: toolbar"></header>

<!-- PAGE WRAPPER -->
<div id="wrapper">
    <!-- SIDEBAR -->
    <div th:replace="fragments/f_sidebar :: sidebar(active_item='posts')"></div>

    <!-- CONTENT OF CURRENT VIEW -->
    <div id="page" class="content-element">

        <div class="ce-container">
            <div class="c-panel">
                <div data-role="accordion" data-role-accordin="true" data-one-frame="false">
                    <div class="frame">
                        <div class="heading" style="background: transparent;">Filtrowanie</div>
                        <div class="content">
                            <div data-role="bottongroup">
                                <button id="btn_size10" class="button">10</button>
                                <button id="btn_size25" class="button active">25</button>
                                <button id="btn_size50" class="button">50</button>
                            </div>
                            <select data-role="select">
                                <option>Data</option>
                                <option>Nazwa</option>
                                <option>Użytkownik</option>
                            </select>
                            <button class="button">
                                <span class="mif-sort-asc"></span>
                            </button>
                            <button class="button">
                                <span class="mif-sort-desc"></span>
                            </button>
                            <button id="cat-load" class="button primary">Filtruj</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-panel">

            </div>
        </div>
    </div>
</div>

<!--<button id="cat-add" class="action-button primary" style="position:fixed;margin:20px;bottom:0;right:0;">
    <span class="icon"><span class="mif-plus"></span></span>
</button>-->

<!-- METRO4 -->
<script th:src="@{/js/metro4/metro-4.4.3.js}"></script>

<script th:src="@{/js/sidebar.js}"></script>

<script>
    function notifyError(text) {
        let notify = Metro.notify;
        console.error(text);

        if (notify !== undefined) {
            notify.create(text , "Błąd" , { cls: "alert" });
        }
    }

    let pageNumber = 0;
    let pageSize = 10;
    let pageSort = 0;
    let pageOrder = "asc";
    $("#btn_size10").click(function () { pageSize = 10; } );
    $("#btn_size25").click(function () { pageSize = 25; } );
    $("#btn_size50").click(function () { pageSize = 50; } );
    $(document).ready(() => { getUnresolvedPosts() });
    $("#cat-load").click(() => getUnresolvedPosts());

    function getUnresolvedPosts() {
        $.ajax({
            type: "GET" ,
            async: true ,
            url: "/api/post/unresolved" ,
            timeout: 1000 ,
            //url: `/api/category?page=${pageNumber}&size=${pageSize}&order=${pageOrder === "desc" ? "desc" : "asc"}&sort=${pageSort}` ,
            contentType: 'application/json; charset=utf-8'
        }).then(function (result) {
            $("#trows").clear();

            if (typeof result === "string") {
                let objects = JSON.parse(result).content;
                console.log(objects);
                if (objects === undefined) {
                    notifyError("Błąd przetwarzania obiektu.");
                } else {
                    objects.forEach((o) => {
                        let row = $("<tr>" , {id: "post" + o.postId});

                        $(row).append($("<td>").html(o.postTitle));
                        $(row).append($("<td>").html(o.postAuthor.userName));
                        $(row).append($("<td>").html(o.postCreationTime));
                        $(row).append($("<td>").html(o.postCategory.categoryName));
                        $("#trows").append(row);
                    });
                }
            } else {
                notifyError("Serwer zwrócił dane, które nie mogą zostać przetworzone.");
            }
        } , function (xhr) {
            notifyError("Błąd żądania!");
        });
    }
</script>

</body>
</html>
