<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/toolbar.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/tableview.css}">

    <!-- METRO4 -->
    <link th:href="@{/css/metro4/metro-4.4.3.css}" th:rel="stylesheet">

    <title>Lista kategorii</title>
</head>
<body>
<header th:replace="fragments/f_toolbar :: toolbar"></header>

<!-- PAGE WRAPPER -->
<div id="wrapper">
    <!-- SIDEBAR -->
    <div th:replace="fragments/f_sidebar :: sidebar(active_item='')"></div>

    <!-- CONTENT OF CURRENT VIEW -->
    <div id="page" class="content-element">
        <div class="ce-container">
            <div class="c-panel">
                <form th:action="@{/write}" method="post" th:object="${post}" id="postWriter">
                    <div class="form-group">
                        <h2>Nowy wątek</h2>
                    </div>
                    <div class="form-group">
                        <button class="button success border-radius-3">
                            <span class="mif-checkmark"></span>
                            <span>Zapisz</span>
                        </button>
                        <a th:href="@{/posts}" class="button alert border-radius-3">
                            <span class="mif-bin"></span>
                            <span>Porzuć</span>
                        </a>
                    </div>
                    <div class="form-group">
                        <label>Tytuł</label>
                        <input th:field="*{postTitle}" data-role="input" type="text" data-prepend="<span class='mif-note'></span>">
                        <small th:if="${#fields.hasErrors('postTitle')}" th:errors="*{postTitle}" class="fg-red">Błąd!</small>
                    </div>
                    <div class="form-group">
                        <label>Kategoria</label>
                        <select th:field="*{postCategory}" data-role="select">
                            <option th:each="c : ${categories}" th:value="${c.key}" th:text="${c.value}">
                        </select>
                        <small th:if="${#fields.hasErrors('postCategory')}" th:errors="*{postCategory}" class="fg-red">Błąd!</small>
                    </div>
                    <div class="form-group">
                        <label>Treść</label>
                        <br>
                        <small th:if="${#fields.hasErrors('postContent')}" th:errors="*{postContent}" class="fg-red">Błąd!</small>
                        <textarea rows="10" th:field="*{postContent}" form="postWriter" data-role="textarea" data-auto-size="false"
                                  data-prepend="<span class='mif-chat'></span>" data-clear-button="false"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- METRO4 -->
<script th:src="@{/js/metro4/metro-4.4.3.js}"></script>
<!-- My scripts -->
<script th:src="@{/js/sidebar.js}"></script>

<script>

</script>

</body>
</html>